:root {
  --color-primary: #6366F1;
  --color-white: #fff;
  --color-background: #fff;
  --color-gray-900: #0B0F19;
  --color-gray-800: #33354D;
  --color-gray-700: #565973;
  --color-gray-600: #9397AD;
  --color-gray-500: #B4B7C9;
  --color-gray-400: #D4D7E5;
  --color-gray-300: #E2E5F1;
  --color-gray-200: #EFF2FC;
  --color-gray-100: #F3F6FF;
}

.dark-mode .wrapper {
  background-color: var(--color-gray-900);
}
.dark-mode .header {
  background-color: #1B1F29;
}
.dark-mode .header .logo {
  color: var(--color-white);
}
.dark-mode .header .nav-container .nav-links-link a {
  color: rgba(255, 255, 255, 0.85);
}
.dark-mode .section-features .features-items-item img {
  background: rgba(99, 102, 241, 0.08);
}
.dark-mode .section-instructions {
  background-color: rgba(255, 255, 255, 0.04);
}
.dark-mode .section-faq .faq-container .faq .questions li .question {
  border-color: rgba(255, 255, 255, 0.15);
}
.dark-mode .section-faq .faq-container .faq .questions li .active {
  border-color: rgba(255, 255, 255, 0.15);
}
.dark-mode .section-faq .form-container {
  background-color: rgba(255, 255, 255, 0.04);
}
.dark-mode .section-faq .form-container .form .container input {
  background-color: rgba(255, 255, 255, 0.02);
  border-color: rgba(255, 255, 255, 0.18);
}
.dark-mode .section-faq .form-container .form .container input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.dark-mode .section-faq .form-container .form .container input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.dark-mode .btn--download {
  background-color: var(--color-gray-100);
}
.dark-mode .btn--discover-more {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0;
}
.dark-mode .btn--faq {
  background-color: rgba(255, 255, 255, 0.05);
}
.dark-mode .btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
  color: var(--color-white);
}
.dark-mode .paragraph {
  color: rgba(255, 255, 255, 0.7);
}
.dark-mode .paragraph--header {
  color: var(--color-gray-700);
}
.dark-mode .paragraph--light-grey {
  color: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
}

header, section, footer {
  padding-inline: 1.2rem;
}

.wrapper {
  margin: 0 auto;
  background-color: var(--color-background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.1rem;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 0.71rem;
  font-weight: 800;
  font-size: 2.08rem;
  line-height: 3.33rem;
  color: var(--color-gray-900);
  text-decoration: none;
}
.header .nav-container {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.header .nav-container .nav-links {
  display: none;
}
.header .nav-container .nav-links-link {
  list-style: none;
}
.header .nav-container .nav-links-link a {
  color: var(--color-gray-800);
  font-size: 1.6rem;
  line-height: 160%;
  text-decoration: none;
}
.header .button-container {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.header .button-container .inner-container {
  display: flex;
  align-items: center;
  gap: 1.186rem;
}

.section-hero {
  background: radial-gradient(circle at center 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  height: 87.7vh;
  padding-block: 2.5rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-hero .link-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.section-hero .link-container .icon-appstore {
  height: 3.4rem;
  width: 12.5rem;
}
.section-hero .link-container .icon-googleplay {
  height: 3.3rem;
  width: 14rem;
}
.section-hero .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.239rem;
}
.section-hero .image-container {
  display: none;
}

.section-features {
  padding-top: 3.69rem;
  padding-bottom: 4.42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-features .logos {
  display: none;
}
.section-features .phone {
  display: none;
}
.section-features .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.24rem;
}
.section-features .features-lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.369rem;
}
.section-features .features-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.24rem;
}
.section-features .features-items-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.24rem;
}
.section-features .features-items-item {
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
}
.section-features .features-items-item:first-child {
  align-self: stretch;
}
.section-features .features-items-item img {
  background: var(--color-gray-100);
  padding: 1.6rem;
  border-radius: 0.8rem;
}
.section-features .features-items-item-text {
  display: flex;
  flex-direction: column;
  gap: 1.16rem;
}

.section-instructions {
  background-color: var(--color-gray-100);
  padding-top: 6.39rem;
  padding-bottom: 5.64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.2rem;
}
.section-instructions .phone {
  position: relative;
}
.section-instructions .phone-screen {
  position: absolute;
  top: 0;
  left: 0;
}
.section-instructions .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.76rem;
}

.section-faq {
  padding-top: 4.305rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.25rem;
}
.section-faq .faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5925rem;
}
.section-faq .faq-container .faq-lead {
  display: flex;
  flex-direction: column;
  gap: 1.893rem;
  text-align: center;
}
.section-faq .faq-container .faq .questions {
  list-style: none;
}
.section-faq .faq-container .faq .questions > :first-child .question {
  border-radius: 0.8rem 0.8rem 0 0;
}
.section-faq .faq-container .faq .questions > :last-child .question {
  border-radius: 0 0 0.8rem 0.8rem;
}
.section-faq .faq-container .faq .questions li .question {
  border: 1px solid var(--color-gray-300);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.6rem 2.4rem;
}
.section-faq .faq-container .faq .questions li .active {
  border-inline: 1px solid var(--color-gray-300);
  padding: 1.6rem 2.4rem 2.99rem 2.4rem;
}
.section-faq .form-container {
  background-color: var(--color-gray-100);
  padding: 4.8rem 1.6rem 4.39rem 1.6rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.08rem;
  width: 100%;
}
.section-faq .form-container .form-heading {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.section-faq .form-container .form {
  display: flex;
  justify-content: center;
}
.section-faq .form-container .form .container {
  position: relative;
}
.section-faq .form-container .form .container img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 1.686rem;
}
.section-faq .form-container .form .container input {
  height: 100%;
  padding-left: 4.8rem;
  border-radius: 0.8rem 0 0 0.8rem;
  border: 1px solid var(--color-gray-400);
  width: 100%;
  font-size: 1.6rem;
}
.section-faq .form-container .form .container input::-moz-placeholder {
  color: var(--color-gray-500);
}
.section-faq .form-container .form .container input::placeholder {
  color: var(--color-gray-500);
}

.footer {
  padding-top: 2.6rem;
  padding-bottom: 3rem;
  text-align: center;
}

.btn {
  cursor: pointer;
  border: none;
}
.btn--toggle {
  width: 4.6rem;
  height: 2.3rem;
  background: var(--color-gray-600);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2.3rem;
  position: relative;
  outline: none;
  transition: 0.5s;
}
.btn--toggle::before {
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-white);
  border-radius: 50%;
  transform: scale(0.75);
  transition: 0.5s;
}
.btn--toggle:checked {
  background: var(--color-primary);
}
.btn--toggle:checked::before {
  left: 2.25rem;
}
.btn--mobile-menu {
  background-color: transparent;
  width: 3rem;
  height: 3.6rem;
}
.btn--download {
  background-color: var(--color-gray-900);
  padding: 1rem;
  border-radius: 0.8rem;
}
.btn--discover-more {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0 2px 6.4px -1px rgba(19, 16, 34, 0.03);
}
.btn--discover-more .down-arrow {
  width: 1.2rem;
  height: 0.8rem;
}
.btn--faq {
  background-color: var(--color-gray-100);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.btn--primary--small {
  border-radius: 0.4rem;
  padding: 0.9rem 2rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: none;
}
.btn--primary--medium {
  border-radius: 0.6rem;
  padding: 1.1rem 2.8rem;
  font-size: 1.4rem;
  line-height: 2.24rem;
}
.btn--primary--large {
  border-radius: 0 0.8rem 0.8rem 0;
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  line-height: 2.56rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-gray-900);
  font-weight: 800;
}

h1 {
  font-size: 3.41rem;
  line-height: 130%;
}

h2 {
  font-size: 2.79rem;
  line-height: 130%;
}

h3 {
  font-size: 2.47rem;
  line-height: 130%;
}

h4 {
  font-size: 2.16rem;
  line-height: 140%;
}

h5 {
  font-size: 2rem;
  line-height: 140%;
}

h6 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 130%;
}

.paragraph {
  color: var(--color-gray-700);
  font-weight: 400;
  line-height: 160%;
}
.paragraph--header {
  color: var(--color-gray-700);
  font-weight: 600;
  display: none;
}
.paragraph--large {
  font-size: 1.8rem;
}
.paragraph--medium {
  font-size: 1.6rem;
}
.paragraph--small {
  font-size: 1.4rem;
}
.paragraph--light-grey {
  color: var(--color-gray-600);
}/*# sourceMappingURL=style.css.map */