:root {
  --color-primary: #6366F1;
  --color-success: #22C55E;
  --color-white: #fff;
  --color-background: #fff;
  --color-gray-900: #0B0F19;
  --color-gray-800: #33354D;
  --color-gray-700: #565973;
  --color-gray-600: #9397AD;
  --color-gray-500: #B4B7C9;
  --color-gray-400: #D4D7E5;
  --color-gray-300: #E2E5F1;
  --color-gray-200: #EFF2FC;
  --color-gray-100: #F3F6FF;
}

.dark-mode .wrapper {
  background-color: var(--color-gray-900);
}
.dark-mode .header {
  background-color: #1B1F29;
}
.dark-mode .header .logo {
  color: var(--color-white);
}
.dark-mode .header .nav-container .nav-links-link a {
  color: rgba(255, 255, 255, 0.85);
}
.dark-mode .section-app-features .logos .container {
  border-color: rgba(255, 255, 255, 0.15);
}
.dark-mode .section-app-features .features-items-item img {
  background: rgba(99, 102, 241, 0.08);
}
.dark-mode .section-instructions {
  background-color: rgba(255, 255, 255, 0.04);
}
.dark-mode .section-features .features img {
  background-color: rgba(99, 102, 241, 0.08);
}
.dark-mode .section-testimonials {
  background-color: rgba(255, 255, 255, 0.04);
}
.dark-mode .section-testimonials .cards .card {
  background-color: rgba(255, 255, 255, 0.04);
  box-shadow: none;
}
.dark-mode .section-testimonials .cards .card .info-box .name {
  color: var(--color-white);
}
.dark-mode .section-testimonials .cards .card .info-box .job-title {
  color: rgba(255, 255, 255, 0.5);
}
.dark-mode .section-faq .faq-container .faq .questions li {
  box-shadow: 0;
}
@media (min-width: 768px) {
  .dark-mode .section-faq .faq-container .faq .questions li {
    background-color: rgba(255, 255, 255, 0.04);
  }
}
.dark-mode .section-faq .faq-container .faq .questions li .question {
  border-color: rgba(255, 255, 255, 0.15);
}
.dark-mode .section-faq .faq-container .faq .questions li .active {
  border-color: rgba(255, 255, 255, 0.15);
}
@media (min-width: 768px) {
  .dark-mode .section-faq .faq-container .faq .questions .active-question {
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}
.dark-mode .section-faq .contact-boxes .contact-box {
  border-color: rgba(255, 255, 255, 0.15);
}
.dark-mode .section-faq .form-container {
  background-color: rgba(255, 255, 255, 0.04);
}
.dark-mode .section-faq .form-container .form .container input {
  background-color: rgba(255, 255, 255, 0.02);
  border-color: rgba(255, 255, 255, 0.18);
}
.dark-mode .section-faq .form-container .form .container input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.dark-mode .section-faq .form-container .form .container input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.dark-mode .btn--download {
  background-color: var(--color-gray-100);
}
.dark-mode .btn--discover-more {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0;
}
.dark-mode .btn--faq {
  background-color: rgba(255, 255, 255, 0.05);
}
.dark-mode .btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
  color: var(--color-white);
}
.dark-mode .paragraph {
  color: rgba(255, 255, 255, 0.7);
}
.dark-mode .paragraph--header {
  color: var(--color-gray-700);
}
.dark-mode .paragraph--light-grey {
  color: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
}

header, section, footer {
  padding-inline: 1.2rem;
}
@media (min-width: 768px) {
  header, section, footer {
    padding-inline: 3.5rem;
  }
}
@media (min-width: 1400px) {
  header, section, footer {
    padding-inline: 15rem;
  }
}
@media (min-width: 1920px) {
  header, section, footer {
    padding-inline: 31.2rem;
  }
}

.wrapper {
  margin: 0 auto;
  background-color: var(--color-background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.1rem;
}
@media (min-width: 768px) {
  .header {
    padding-block: 2.5rem;
  }
}
@media (min-width: 1400px) {
  .header {
    padding-block: 1.6rem;
  }
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-weight: 800;
  font-size: 2.08rem;
  line-height: 3.33rem;
  color: var(--color-gray-900);
  text-decoration: none;
}
.header .nav-container {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.header .nav-container .nav-links {
  display: none;
}
@media (min-width: 1400px) {
  .header .nav-container .nav-links {
    display: flex;
  }
}
.header .nav-container .nav-links-link {
  list-style: none;
}
.header .nav-container .nav-links-link a {
  color: var(--color-gray-800);
  font-size: 1.6rem;
  line-height: 160%;
  text-decoration: none;
}
.header .button-container {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
@media (min-width: 768px) {
  .header .button-container {
    gap: 7rem;
  }
}
@media (min-width: 1400px) {
  .header .button-container {
    gap: 3.2rem;
  }
}
.header .button-container .inner-container {
  display: flex;
  align-items: center;
  gap: 1.186rem;
}

.section-hero {
  background: radial-gradient(circle at center 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  padding-block: 2.5rem 3rem;
  text-align: center;
  display: grid;
  gap: 1.822rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .section-hero {
    padding-block: 3rem 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    -moz-column-gap: 39rem;
         column-gap: 39rem;
    row-gap: 12rem;
  }
  .section-hero h1 {
    grid-column: 1/3;
  }
  .section-hero p {
    text-align: left;
  }
  .section-hero .image-container {
    grid-column: 2/-1;
  }
  .section-hero .container {
    grid-column: 1;
  }
}
@media (min-width: 1400px) {
  .section-hero {
    padding-block: 11.2rem 0;
    row-gap: 0;
    -moz-column-gap: 14rem;
         column-gap: 14rem;
    grid-template-rows: 0fr;
  }
  .section-hero h1 {
    grid-column: 1;
    text-align: left;
    margin-bottom: 2.4rem;
  }
  .section-hero .image-container {
    grid-column: 2;
  }
}
.section-hero .container {
  display: flex;
  flex-direction: column;
  gap: 3.434rem;
  height: 100%;
}
@media (min-width: 768px) {
  .section-hero .container {
    justify-content: flex-end;
    gap: 4.1rem;
    padding-bottom: 4.594rem;
  }
}
@media (min-width: 1400px) {
  .section-hero .container {
    gap: 4.8rem;
    padding-bottom: 6.4rem;
  }
  .section-hero .container > :last-child {
    margin-top: 16.8rem;
  }
}
.section-hero .link-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media (min-width: 768px) {
  .section-hero .link-container {
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  .section-hero .link-container {
    gap: 2.4rem;
  }
}
.section-hero .link-container .icon-appstore {
  width: 12.5rem;
  height: 3.4rem;
}
@media (min-width: 768px) {
  .section-hero .link-container .icon-appstore {
    width: 11.34rem;
    height: 3rem;
  }
}
@media (min-width: 1400px) {
  .section-hero .link-container .icon-appstore {
    width: 13.6rem;
    height: 3.54rem;
  }
}
.section-hero .link-container .icon-googleplay {
  width: 14rem;
  height: 3.3rem;
}
@media (min-width: 768px) {
  .section-hero .link-container .icon-googleplay {
    width: 12.75rem;
    height: 3rem;
  }
}
@media (min-width: 1400px) {
  .section-hero .link-container .icon-googleplay {
    width: 13.6rem;
    height: 3.1rem;
  }
}
.section-hero .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.239rem;
}
@media (min-width: 768px) {
  .section-hero .button-container {
    justify-content: flex-start;
  }
}
@media (min-width: 1400px) {
  .section-hero .button-container {
    gap: 1.6rem;
  }
}
.section-hero .image-container {
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .section-hero .image-container {
    display: block;
  }
}
.section-hero .image-container .phone-back {
  position: absolute;
  bottom: -75px;
  right: 120px;
  width: 24rem;
  height: 48.5rem;
}
@media (min-width: 1400px) {
  .section-hero .image-container .phone-back {
    width: 36.3rem;
    height: 73.2rem;
    right: 215px;
    bottom: -110px;
  }
}
@media (min-width: 1920px) {
  .section-hero .image-container .phone-back {
    width: 39.6rem;
    height: 80rem;
  }
}
.section-hero .image-container .phone-front {
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 24.4rem;
  height: 49.3rem;
}
@media (min-width: 1400px) {
  .section-hero .image-container .phone-front {
    width: 36.9rem;
    height: 74.3rem;
  }
}
@media (min-width: 1920px) {
  .section-hero .image-container .phone-front {
    width: 40.2rem;
    height: 81.3rem;
  }
}

.section-app-features {
  padding-block: 3.69rem 4.42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .section-app-features {
    padding-block: 4.8rem 10rem;
  }
}
@media (min-width: 1400px) {
  .section-app-features {
    padding-block: 9.6rem 11.2rem;
  }
}
.section-app-features .logos {
  display: none;
  width: 100%;
}
@media (min-width: 768px) {
  .section-app-features .logos {
    display: flex;
    justify-content: space-between;
  }
}
.section-app-features .logos .container {
  padding: 3.3rem 0.925rem;
  border: 1px solid var(--color-gray-300);
  border-radius: 0.8rem;
}
@media (min-width: 1920px) {
  .section-app-features .logos .container {
    padding: 3.5rem 2.8rem;
  }
}
.section-app-features .logos img {
  width: 14rem;
  height: 3.3rem;
}
@media (min-width: 768px) {
  .section-app-features .logos > .container:not(:nth-child(-n+4)) {
    display: none;
  }
}
@media (min-width: 1280px) {
  .section-app-features .logos > .container:not(:nth-child(-n+4)) {
    display: flex;
  }
}
@media (min-width: 1400px) {
  .section-app-features .inner-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 11.2rem;
    gap: 8rem;
  }
}
@media (min-width: 1920px) {
  .section-app-features .inner-container {
    gap: 20.2rem;
  }
}
.section-app-features .phone {
  display: none;
}
@media (min-width: 1400px) {
  .section-app-features .phone {
    display: block;
    width: 34.8rem;
    height: 68.4rem;
  }
}
.section-app-features .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.24rem;
}
@media (min-width: 768px) {
  .section-app-features .features {
    margin-top: 6.25rem;
  }
}
@media (min-width: 1400px) {
  .section-app-features .features {
    margin-top: 0;
  }
}
.section-app-features .features-lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.369rem;
}
@media (min-width: 1400px) {
  .section-app-features .features-lead {
    text-align: left;
    align-items: flex-start;
  }
}
.section-app-features .features-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.24rem;
}
@media (min-width: 768px) {
  .section-app-features .features-items {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 1920px) {
  .section-app-features .features-items {
    gap: 4.8rem;
  }
}
.section-app-features .features-items-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.24rem;
}
@media (min-width: 768px) {
  .section-app-features .features-items-row {
    flex-direction: row;
  }
}
@media (min-width: 1920px) {
  .section-app-features .features-items-row {
    gap: 5.6rem;
  }
}
.section-app-features .features-items-item {
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
  width: 100%;
}
.section-app-features .features-items-item:first-child {
  align-self: stretch;
}
.section-app-features .features-items-item img {
  background: var(--color-gray-100);
  padding: 1.6rem;
  border-radius: 0.8rem;
}
.section-app-features .features-items-item-text {
  display: flex;
  flex-direction: column;
  gap: 1.16rem;
}

.section-instructions {
  background-color: var(--color-gray-100);
  padding-block: 6.39rem 5.64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  .section-instructions {
    gap: 4.4rem;
    padding-block: 7.2rem;
  }
}
@media (min-width: 1400px) {
  .section-instructions {
    padding-block: 8rem 9.6rem;
  }
}
@media (min-width: 768px) {
  .section-instructions .phones-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .section-instructions .phones-container {
    width: 100%;
  }
}
@media (min-width: 1920px) {
  .section-instructions .phones-container {
    justify-content: center;
    gap: 10rem;
  }
}
.section-instructions .phone-side {
  display: none;
}
@media (min-width: 768px) {
  .section-instructions .phone-side {
    display: block;
    opacity: 0.8;
  }
}
@media (min-width: 1400px) {
  .section-instructions .phone-side {
    width: 32.8rem;
    height: 66.3rem;
  }
}
@media (min-width: 768px) {
  .section-instructions .phone-middle {
    width: 20.3rem;
    height: 41.1rem;
  }
}
@media (min-width: 1400px) {
  .section-instructions .phone-middle {
    width: 32.8rem;
    height: 66.3rem;
  }
}
.section-instructions .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.76rem;
}
@media (min-width: 768px) {
  .section-instructions .text-container {
    margin-inline: 13rem;
  }
}
.section-instructions .text-container span {
  display: none;
}
@media (min-width: 768px) {
  .section-instructions .text-container span {
    display: inline-block;
  }
}
@media (min-width: 1920px) {
  .section-instructions .text-container p {
    display: grid;
  }
}

.section-features {
  display: none;
}
@media (min-width: 1400px) {
  .section-features {
    display: grid;
    gap: 8rem;
    padding-block: 11.2rem;
  }
  .section-features > :first-child {
    gap: 16.7rem;
  }
  .section-features > :last-child {
    gap: 2.4rem;
  }
}
@media (min-width: 1920px) {
  .section-features {
    padding: 11.2rem 42.2rem;
  }
  .section-features > :first-child {
    gap: 14.3rem;
  }
}
.section-features .row {
  display: flex;
  align-items: center;
}
.section-features .info-box {
  display: grid;
  gap: 4rem;
  justify-items: flex-start;
}
.section-features h2 {
  font-size: 3.2rem;
}
.section-features .bullet-points {
  display: grid;
  gap: 1.2rem;
}
.section-features .bullet-point {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.section-features .features {
  display: flex;
  gap: 3rem;
}
.section-features .features img {
  background-color: var(--color-gray-100);
  padding: 1.6rem;
  border-radius: 0.8rem;
}
.section-features .feature {
  display: grid;
  gap: 1.6rem;
}
.section-features .btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.section-testimonials {
  background-color: var(--color-gray-100);
  display: none;
}
@media (min-width: 1400px) {
  .section-testimonials {
    padding-block: 8rem 11.2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8rem;
  }
}
@media (min-width: 1920px) {
  .section-testimonials {
    gap: 13.4rem;
  }
}
.section-testimonials h2 {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 3.4rem;
}
@media (min-width: 1920px) {
  .section-testimonials h2 {
    font-size: 4rem;
  }
}
.section-testimonials .cards {
  display: flex;
  gap: 2.4rem;
}
.section-testimonials .cards .card {
  display: grid;
  gap: 2.4rem;
  background-color: var(--color-white);
  padding: 4.8rem 2.4rem 2.4rem 2.4rem;
  border-radius: 0.8rem;
  box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0 2px 6.4px -1px rgba(19, 16, 34, 0.03);
  position: relative;
}
.section-testimonials .cards .card::before {
  content: "";
  height: 20px;
  width: 20px;
  padding: 1.2rem;
  border-radius: 0.6rem;
  position: absolute;
  left: 24px;
  top: -28px;
  background: url(/images/quotation-mark.svg) no-repeat center var(--color-primary);
  box-shadow: 0 8px 18px -8px rgba(99, 102, 241, 0.9);
}
.section-testimonials .cards .card .info-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.section-testimonials .cards .card .info-box p {
  line-height: 130%;
}
.section-testimonials .cards .card .info-box .name {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-gray-900);
}
.section-testimonials .cards .card .info-box .job-title {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-gray-600);
}

.section-faq {
  padding-top: 4.305rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.25rem;
}
@media (min-width: 1400px) {
  .section-faq {
    padding-top: 11.2rem;
    gap: 11.2rem;
  }
}
.section-faq .faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.6rem;
}
@media (min-width: 1400px) {
  .section-faq .faq-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr;
    align-items: flex-start;
    row-gap: 4rem;
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
}
@media (min-width: 1920px) {
  .section-faq .faq-container {
    grid-template-columns: 5fr 9fr;
    -moz-column-gap: 13.4rem;
         column-gap: 13.4rem;
  }
}
.section-faq .faq-container .faq-lead {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  text-align: center;
}
@media (min-width: 1400px) {
  .section-faq .faq-container .faq-lead {
    text-align: left;
    gap: 3.2rem;
  }
}
@media (min-width: 768px) {
  .section-faq .faq-container .faq-lead h3 {
    display: grid;
  }
}
@media (min-width: 1400px) {
  .section-faq .faq-container .faq {
    grid-row: span 2;
  }
}
.section-faq .faq-container .faq .questions {
  list-style: none;
}
@media (min-width: 768px) {
  .section-faq .faq-container .faq .questions {
    display: grid;
    gap: 1.6rem;
  }
}
.section-faq .faq-container .faq .questions > :first-child .question {
  border-radius: 0.8rem 0.8rem 0 0;
}
.section-faq .faq-container .faq .questions > :last-child .question {
  border-radius: 0 0 0.8rem 0.8rem;
}
@media (min-width: 768px) {
  .section-faq .faq-container .faq .questions li {
    box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    border-radius: 0.8rem;
  }
}
.section-faq .faq-container .faq .questions li .question {
  border: 1px solid var(--color-gray-300);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.6rem 2.4rem;
}
@media (min-width: 768px) {
  .section-faq .faq-container .faq .questions li .question {
    border: none;
  }
}
.section-faq .faq-container .faq .questions li .active {
  border-inline: 1px solid var(--color-gray-300);
  padding: 1.6rem 2.4rem 2.99rem 2.4rem;
}
@media (min-width: 768px) {
  .section-faq .faq-container .faq .questions li .active {
    border: none;
    padding-block: 0 2.4rem;
  }
}
@media (min-width: 768px) {
  .section-faq .btn--primary--medium {
    display: none;
  }
}
.section-faq .contact-boxes {
  display: none;
}
@media (min-width: 768px) {
  .section-faq .contact-boxes {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
}
.section-faq .contact-boxes .contact-box {
  border: 1px solid var(--color-gray-300);
  border-radius: 0.8rem;
  padding: 2.4rem 2.4rem 3.5rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.section-faq .contact-boxes .contact-box .btn {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.section-faq .form-container {
  background-color: var(--color-gray-100);
  padding: 4.8rem 1.6rem 4.39rem 1.6rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .section-faq .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 7.2rem 2.4rem;
  }
}
@media (min-width: 1400px) {
  .section-faq .form-container {
    padding: 7.2rem 4rem;
    gap: 4rem;
    grid-template-columns: 10fr 9fr;
  }
}
@media (min-width: 1920px) {
  .section-faq .form-container {
    padding: 7.2rem 11rem;
    gap: 7.8rem;
  }
}
.section-faq .form-container .form-heading {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
@media (min-width: 768px) {
  .section-faq .form-container .form-heading {
    gap: 3.2rem;
  }
}
.section-faq .form-container .form-heading span {
  display: none;
}
@media (min-width: 1400px) {
  .section-faq .form-container .form-heading span {
    display: inline;
  }
}
.section-faq .form-container .form {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .section-faq .form-container .form {
    height: 5.23rem;
  }
}
.section-faq .form-container .form .container {
  position: relative;
}
.section-faq .form-container .form .container img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 1.686rem;
}
.section-faq .form-container .form .container input {
  height: 100%;
  padding-left: 4.8rem;
  border-radius: 0.8rem 0 0 0.8rem;
  border: 1px solid var(--color-gray-400);
  width: 100%;
  font-size: 1.6rem;
}
.section-faq .form-container .form .container input::-moz-placeholder {
  color: var(--color-gray-500);
}
.section-faq .form-container .form .container input::placeholder {
  color: var(--color-gray-500);
}

.footer {
  padding-block: 2.6rem 3rem;
  display: grid;
  place-items: center;
}
@media (min-width: 1400px) {
  .footer {
    padding-block: 5.4rem;
  }
}
.footer p {
  display: grid;
  place-items: center;
}
@media (min-width: 768px) {
  .footer p {
    display: inline-block;
  }
}

.hide-mobile {
  display: none;
}
@media (min-width: 768px) {
  .hide-mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .hide-tablet {
    display: none;
  }
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.btn--toggle {
  width: 4.6rem;
  height: 2.3rem;
  background: var(--color-gray-600);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2.3rem;
  position: relative;
  outline: none;
  transition: 0.5s;
}
.btn--toggle::before {
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-white);
  border-radius: 50%;
  transform: scale(0.75);
  transition: 0.5s;
}
.btn--toggle:checked {
  background: var(--color-primary);
}
.btn--toggle:checked::before {
  left: 2.25rem;
}
.btn--mobile-menu {
  background-color: transparent;
  width: 3rem;
  height: 3.6rem;
}
@media (min-width: 1400px) {
  .btn--mobile-menu {
    display: none;
  }
}
.btn--download {
  background-color: var(--color-gray-900);
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  display: grid;
  place-items: center;
}
@media (min-width: 1400px) {
  .btn--download {
    padding: 1rem 2.2rem;
  }
}
.btn--discover-more {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0 2px 6.4px -1px rgba(19, 16, 34, 0.03);
}
.btn--discover-more .down-arrow {
  width: 1.2rem;
  height: 0.8rem;
}
.btn--faq {
  background-color: var(--color-gray-100);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.btn--primary--small {
  border-radius: 0.4rem;
  padding: 0.9rem 2rem;
  font-size: 1.4rem;
  line-height: 130%;
  display: none;
}
@media (min-width: 1400px) {
  .btn--primary--small {
    display: flex;
    gap: 0.8rem;
  }
}
.btn--primary--medium {
  border-radius: 0.6rem;
  padding: 1.1rem 2.8rem;
  font-size: 1.4rem;
  line-height: 2.24rem;
}
.btn--primary--large {
  border-radius: 0 0.8rem 0.8rem 0;
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  line-height: 2.56rem;
}
@media (min-width: 1400px) {
  .btn--primary--large {
    padding: 1.3rem 3.2rem;
  }
}
.btn--contact {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 160%;
}
.btn--contact--primary {
  color: var(--color-primary);
}
.btn--contact--success {
  color: var(--color-success);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-gray-900);
  font-weight: 800;
}

h1 {
  font-size: 3.41rem;
  line-height: 130%;
}
@media (min-width: 768px) {
  h1 {
    font-size: 4.43rem;
    display: grid;
    place-items: center;
  }
}
@media (min-width: 1920px) {
  h1 {
    font-size: 5.6rem;
  }
}

h2 {
  font-size: 2.79rem;
  line-height: 130%;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.35rem;
  }
}
@media (min-width: 1920px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.47rem;
  line-height: 130%;
}
@media (min-width: 768px) {
  h3 {
    font-size: 3.2rem;
  }
}

h4 {
  font-size: 2.16rem;
  line-height: 140%;
}
@media (min-width: 768px) {
  h4 {
    font-size: 2.27rem;
  }
}
@media (min-width: 1920px) {
  h4 {
    font-size: 2.4rem;
  }
}

h5 {
  font-size: 2rem;
  line-height: 140%;
}

h6 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 130%;
}

.paragraph {
  color: var(--color-gray-700);
  font-weight: 400;
  line-height: 160%;
}
.paragraph--header {
  color: var(--color-gray-700);
  font-weight: 600;
  display: none;
}
@media (min-width: 768px) {
  .paragraph--header {
    display: block;
  }
}
@media (min-width: 768px) {
  .paragraph--hero {
    display: grid;
  }
}
@media (min-width: 1400px) {
  .paragraph--hero {
    display: inline-block;
  }
}
@media (min-width: 1920px) {
  .paragraph--hero {
    display: grid;
  }
}
.paragraph--large {
  font-size: 1.8rem;
}
.paragraph--medium {
  font-size: 1.6rem;
}
.paragraph--small {
  font-size: 1.4rem;
}
.paragraph--light-grey {
  color: var(--color-gray-600);
}/*# sourceMappingURL=style.css.map */