// $color-primary: #6366F1;
// $color-white: #fff;
// $color-black: #131022;
// $color-grey-dark: #33354D;
// $color-grey-medium: #585C7B;
// $color-grey-light: #9397AD;
// $color-grey-lightest: #F3F6FF;

$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

:root {
  --color-primary: #6366F1;
  --color-success: #22C55E;
  --color-white: #fff;
  --color-background: #fff;
  --color-gray-900: #0B0F19;
  --color-gray-800: #33354D;
  --color-gray-700: #565973;  
  --color-gray-600: #9397AD;
  --color-gray-500: #B4B7C9;
  --color-gray-400: #D4D7E5;
  --color-gray-300: #E2E5F1;
  --color-gray-200: #EFF2FC;
  --color-gray-100: #F3F6FF;
}

.dark-mode {
  // --color-primary: #6366F1;
  // --color-white: #fff;
  // --color-background: #0B0F19;
  // --color-gray-900: #fff;
  // --color-gray-800: rgba(255, 255, 255, 0.85);
  // --color-gray-700: rgba(255, 255, 255, 0.7);
  // --color-gray-600: #9397AD;
  // --color-gray-500: #B4B7C9;
  // --color-gray-400: #D4D7E5;
  // --color-gray-300: #E2E5F1;
  // --color-gray-200: #EFF2FC;
  // --color-gray-100: rgba(255, 255, 255, 0.04);

  .wrapper {
    background-color: var(--color-gray-900);
  }

  .header {
    background-color: #1B1F29;
    
    .logo {
      color: var(--color-white);
    }
    
    .nav-container {
      .nav-links {
        &-link {
          a {
            color: rgba(255, 255, 255, 0.85);
          }
        }
      }
    }
  }

  .section-features {
    .logos {  
      .container {
        border-color: rgba(255, 255, 255, 0.15);
      }
    }

    .features {
      &-items {
        &-item {
          img {
            background: rgb(99, 102, 241, 0.08);
          }
        }
      }
    }
  }

  .section-instructions {
    background-color: rgba(255, 255, 255, 0.04);
  }

  .section-faq {
    .faq-container {
      .faq {
        .questions {    
          li {
            box-shadow: 0;
            
            @media (min-width: 768px) {
              background-color: rgba(255, 255, 255, 0.04);
            }

            .question {
              border-color: rgba(255, 255, 255, 0.15);
            }
            
            .active {
              border-color: rgba(255, 255, 255, 0.15);
            }
          }

          .active-question {
            @media (min-width: 768px) {
              border: 1px solid rgba(255, 255, 255, 0.15);
            }
          }
        }
      }
    }

    .contact-boxes {
      .contact-box {
        border-color: rgba(255, 255, 255, 0.15);
      }
    }
  
    .form-container {
      background-color: rgba(255, 255, 255, 0.04);
  
      .form {
        .container {
          input {
            background-color: rgba(255, 255, 255, 0.02);
            border-color: rgba(255, 255, 255, 0.18);

            &::placeholder {
              color: rgba(255, 255, 255, 0.4);
            }
          }
        }
      }
    }
  }

  .btn {
    &--download {
      background-color: var(--color-gray-100);
    }

    &--discover-more {
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: 0;
    }

    &--faq {
      background-color: rgba(255, 255, 255, 0.05);
    }

    &--primary {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-white);
  }

  .paragraph {
    color: rgba(255, 255, 255, 0.7);
  
    &--header {
      color: var(--color-gray-700);
    }

    &--light-grey {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
}

header, section, footer {
  padding-inline: 1.2rem;

  @media (min-width: 768px) {
    padding-inline: 3.5rem;
  }
}

.wrapper {
  margin: 0 auto;
  background-color: var(--color-background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.1rem;

  @media (min-width: 768px) {
    padding-block: 2.5rem; 
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-weight: 800;
    font-size: 2.08rem;
    line-height: 3.33rem;
    color: var(--color-gray-900);
    text-decoration: none;
  }

  .nav-container {
    display: flex;
    align-items: center;
    gap: 4.8rem; 

    .nav-links {
      display: none;
  
      &-link {
        list-style: none;
    
        a {
          color: var(--color-gray-800);
          font-size: $font-size-medium;
          line-height: 160%;
          text-decoration: none;
        }
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    @media (min-width: 768px) {
      gap: 7.074rem;
    }

    .inner-container {
      display: flex;
      align-items: center;
      gap: 1.186rem;
    }
  }
}

.section-hero {
  background: radial-gradient(circle at center 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  // height: 87.7vh;
  padding-block: 2.5rem 3rem;
  text-align: center;
  display: grid;
  gap: 1.822rem;
  overflow: hidden;
  
  @media (min-width: 768px) {
    padding-block: 3rem 0;
    // height: 86.7vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    column-gap: 39rem;
    row-gap: 12rem;

    h1 {
      grid-column: 1 / 3;
      // grid-area: heading;
      // border: 5px solid brown;
    }

    p {
      text-align: left;
    }

    .image-container {
      grid-column: 2 / -1;
      // border: 5px solid brown;
      // grid-area: images;
      // max-width: 200px;
    }

    .container {
      grid-column: 1;
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 3.434rem;
    // justify-content: space-between;
    height: 100%;
    
    @media (min-width: 768px) {
      // border: 5px solid brown;
      justify-content: flex-end;
      // align-items: center;
      gap: 4.1rem;
      padding-bottom: 4.594rem;
      // margin-bottom: 4.594rem;
    }
  }
  
  .link-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }
    
    .icon-appstore {
      width: 12.5rem;
      height: 3.4rem;

      @media (min-width: 768px) {
        width: 11.34rem;
        height: 3rem;
      }
    }
    
    .icon-googleplay {
      width: 14rem;
      height: 3.3rem;

      @media (min-width: 768px) {
        width: 12.75rem;
        height: 3rem;
      }
    }
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.239rem;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }
  
  .image-container {
    position: relative;
    display: none;
    
    @media (min-width: 768px) {
      display: block;
    }

    .phone-back {
      position: absolute;
      bottom: -75px;
      right: 120px;
      width: 24rem;
      height: 48.5rem;
    }

    .phone-front {
      position: absolute;
      bottom: -40px;
      right: 0;
      width: 24.4rem;
      height: 49.3rem;
    }
  }
}

.section-features {
  padding-block: 3.69rem 4.42rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding-block: 4.8rem 10rem;
  }

  .logos {
    display: none;
    width: 100%;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      // gap: 2.4rem;
    }

    .container {
      padding: 3.3rem 0.925rem;
      border: 1px solid var(--color-gray-300);
      border-radius: 0.8rem;
    }

    img {
      width: 14rem;
      height: 3.3rem;
    }

    & > .container:not(:nth-child(-n+4)) {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  .phone {
    display: none;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.24rem;

    @media (min-width: 768px) {
      margin-top: 6.25rem;
    }
    
    
    &-lead {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2.369rem;
    }
    
    &-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.24rem;

      @media (min-width: 768px) {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
      }
      
      &-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.24rem;
        
        @media (min-width: 768px) {
          flex-direction: row;
        }
      }

      &-item {
        display: flex;
        gap: 2.4rem;
        align-items: flex-start;
        width: 100%;
      
        &:first-child {
          align-self: stretch;
        }
        
        img {
          background: var(--color-gray-100);
          padding: 1.6rem;
          border-radius: 0.8rem;
        }

        &-text {
          display: flex;
          flex-direction: column;
          gap: 1.16rem;
        }
      }
    }
  }
}

.section-instructions {
  background-color: var(--color-gray-100);
  padding-block: 6.39rem 5.64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.2rem;

  @media (min-width: 768px) {
    gap: 4.4rem;
    padding-block: 7.2rem;
  }

  .phones-container {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .phone-side {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .phone {
    position: relative;

    @media (min-width: 768px) {
      display: grid;
      align-items: center;
      margin-block: -6.75rem;
    }

    &-frame {
      @media (min-width: 768px) {
        height: 80%;
      }
    }

    &-screen {
      position: absolute;
      top: 0;
      left: 0;

      @media (min-width: 768px) {
        height: 80%;
        transform: translateY(12.5%);
      }
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.76rem;

    @media (min-width: 768px) {
      margin-inline: 13rem;
    }

    span {
      display: none;

      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }
}

.section-faq {
  padding-top: 4.305rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.25rem;

  .faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5925rem;
    
    .faq-lead {
      display: flex;
      flex-direction: column;
      gap: 1.893rem;
      text-align: center;

      h3 {
        @media (min-width: 768px) {
          display: grid;
        }
      }
    }

    .faq {
      .questions {
        list-style: none;

        @media (min-width: 768px) {
          display: grid;
          gap: 1.6rem;
        }
        
        > :first-child {
          .question {
            border-radius: 0.8rem 0.8rem 0 0;
          }
        }
        
        > :last-child {
          .question {
            border-radius: 0 0 0.8rem 0.8rem;
          }
        }
        
        li {
          @media (min-width: 768px) {
            box-shadow: (0 4.4px 12px -1px rgba(#131022, 0.06), 0 2px 6.4px -1px rgba(#131022, 0.03));
            border-radius: 0.8rem;   
          }

          .question {
            border: 1px solid var(--color-gray-300);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            padding: 1.6rem 2.4rem;

            @media (min-width: 768px) {
              border: none;
            }
          }
          
          .active {
            border-inline: 1px solid var(--color-gray-300);
            padding: 1.6rem 2.4rem 2.99rem 2.4rem;
            
            @media (min-width: 768px) {
              border: none;
              padding-block: 0 2.4rem;
            }
          }
        }
      }
    }
  }

  .btn--primary--medium {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .contact-boxes {
    display: none;
    
    @media (min-width: 768px) {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;
    }

    .contact-box {
      border: 1px solid var(--color-gray-300);
      border-radius: 0.8rem;
      padding: 2.4rem 2.4rem 3.5rem 2.4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem;

      .btn {
        display: flex;
        align-items: center;
        gap: 1.3rem;
      }
    }
  }

  .form-container {
    background-color: var(--color-gray-100);
    padding: 4.8rem 1.6rem 4.39rem 1.6rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.08rem;
    width: 100%;

    @media (min-width: 768px) {
      // flex-direction: row;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      padding: 7.255rem 2.4rem;
    }

    .form-heading {
      display: flex;
      align-items: center;
      gap: 1.6rem;

      @media (min-width: 768px) {
        gap: 3.2rem;
      }
    }

    .form {
      display: flex;
      justify-content: center;

      @media (min-width: 768px) {
        height: 5.23rem;
      }
      
      .container {
        position: relative;

        img {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          padding-left: 1.686rem;
        }

        input {
          height: 100%;
          padding-left: 4.8rem;
          border-radius: 0.8rem 0 0 0.8rem;
          border: 1px solid var(--color-gray-400);
          width: 100%;
          font-size: $font-size-medium;

          &::placeholder {
            color: var(--color-gray-500);
          }
        }
      }
    }
  }
}

.footer {
  padding-top: 2.6rem;
  padding-bottom: 3rem;
  display: grid;
  place-items: center;

  p {
    display: grid;
    place-items: center;

    @media (min-width: 768px) {
      display: inline-block;
    }
  }
}

.hide-mobile {
  display: none;
  
  @media (min-width: 768px) {
    display: block;
  }
}

.hide-tablet {
  @media (min-width: 768px) {
    display: none;
  }
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;

  &--toggle {
    width: 4.6rem;
    height: 2.3rem;
    background: var(--color-gray-600);
    appearance: none;
    border-radius: 2.3rem;
    position: relative;
    outline: none;
    transition: 0.5s;

    &::before {
      content: "";
      width: 2.3rem;
      height: 2.3rem;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--color-white);
      border-radius: 50%;
      transform: scale(0.75);
      transition: 0.5s;
    }

    &:checked {
      background: var(--color-primary);

      &::before {
        left: 2.25rem;
      }
    }
  }

  &--mobile-menu {
    background-color: transparent;
    width: 3rem;
    height: 3.6rem;
  }

  &--download {
    background-color: var(--color-gray-900);
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    display: grid;
    place-items: center;
  }

  &--discover-more {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    box-shadow: (0 4.4px 12px -1px rgba(#131022, 0.06), 0 2px 6.4px -1px rgba(#131022, 0.03));

    .down-arrow {
      width: 1.2rem;
      height: 0.8rem;
    }
  }

  &--faq {
    background-color: var(--color-gray-100);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
  }

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  
    &--small {
      border-radius: 0.4rem;
      padding: 0.9rem 2rem;
      font-size: $font-size-small;
      // font-weight: 600;
      line-height: 1.8rem;
      display: none;
    }
  
    &--medium {
      border-radius: 0.6rem;
      padding: 1.1rem 2.8rem;
      font-size: $font-size-small;
      // font-weight: 600;
      line-height: 2.24rem;
    }
  
    &--large {
      border-radius: 0 0.8rem 0.8rem 0;
      padding: 1.3rem 2rem;
      font-size: $font-size-medium;
      // font-weight: 600;
      line-height: 2.56rem;
    }
  }

  &--contact {
    font-size: $font-size-small;
    font-weight: 600;
    line-height: 160%;

    &--primary {
      color: var(--color-primary);
    }

    &--success {
      color: var(--color-success);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-gray-900);
  font-weight: 800;
}

h1 {
  font-size: 3.41rem;
  line-height: 130%;

  @media (min-width: 768px) {
    font-size: 4.43rem;
    // text-align: center;
    display: grid;
    place-items: center;
    // height: fit-content;
  }
}

h2 {
  font-size: 2.79rem;
  line-height: 130%;
}

h3 {
  font-size: 2.47rem;
  line-height: 130%;
}

h4 {
  font-size: 2.16rem;
  line-height: 140%;
}

h5 {
  font-size: 2rem;
  line-height: 140%;
}

h6 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 130%;
}

.paragraph {
  color: var(--color-gray-700);
  font-weight: 400;
  line-height: 160%;

  &--header {
    color: var(--color-gray-700);
    font-weight: 600;
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &--hero {
    @media (min-width: 768px) {
      display: grid;
    }
  }

  &--large {
    font-size: $font-size-large;
  }

  &--medium {
    font-size: $font-size-medium;
  }

  &--small {
    font-size: $font-size-small;
  }

  &--light-grey {
    color: var(--color-gray-600);
  }
}