// $color-primary: #6366F1;
// $color-white: #fff;
// $color-black: #131022;
// $color-grey-dark: #33354D;
// $color-grey-medium: #585C7B;
// $color-grey-light: #9397AD;
// $color-grey-lightest: #F3F6FF;

$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

:root {
  --color-primary: #6366F1;
  --color-white: #fff;
  --color-background: #fff;
  --color-gray-900: #0B0F19;
  --color-gray-800: #33354D;
  --color-gray-700: #565973;  
  --color-gray-600: #9397AD;
  --color-gray-500: #B4B7C9;
  --color-gray-400: #D4D7E5;
  --color-gray-300: #E2E5F1;
  --color-gray-200: #EFF2FC;
  --color-gray-100: #F3F6FF;
}

.dark-mode {
  // --color-primary: #6366F1;
  // --color-white: #fff;
  // --color-background: #0B0F19;
  // --color-gray-900: #fff;
  // --color-gray-800: rgba(255, 255, 255, 0.85);
  // --color-gray-700: rgba(255, 255, 255, 0.7);
  // --color-gray-600: #9397AD;
  // --color-gray-500: #B4B7C9;
  // --color-gray-400: #D4D7E5;
  // --color-gray-300: #E2E5F1;
  // --color-gray-200: #EFF2FC;
  // --color-gray-100: rgba(255, 255, 255, 0.04);

  .wrapper {
    background-color: var(--color-gray-900);
  }

  .header {
    background-color: #1B1F29;
    
    .logo {
      color: var(--color-white);
    }
    
    .nav-container {
      .nav-links {
        &-link {
          a {
            color: rgba(255, 255, 255, 0.85);
          }
        }
      }
    }
  }

  .section-features {
    .features {
      &-items {
        &-item {
          img {
            background: rgb(99, 102, 241, 0.08);
          }
        }
      }
    }
  }

  .section-instructions {
    background-color: rgba(255, 255, 255, 0.04);
  }

  .section-faq {
    .faq-container {
      .faq {
        .questions {    
          li {
            .question {
              border-color: rgba(255, 255, 255, 0.15);
            }
            
            .active {
              border-color: rgba(255, 255, 255, 0.15);
            }
          }
        }
      }
    }
  
    .form-container {
      background-color: rgba(255, 255, 255, 0.04);
  
      .form {
        .container {
          input {
            background-color: rgba(255, 255, 255, 0.02);
            border-color: rgba(255, 255, 255, 0.18);

            &::placeholder {
              color: rgba(255, 255, 255, 0.4);
            }
          }
        }
      }
    }
  }

  .btn {
    &--download {
      background-color: var(--color-gray-100);
    }

    &--discover-more {
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: 0;
    }

    &--faq {
      background-color: rgba(255, 255, 255, 0.05);
    }

    &--primary {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-white);
  }

  .paragraph {
    color: rgba(255, 255, 255, 0.7);
  
    &--header {
      color: var(--color-gray-700);
    }

    &--light-grey {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
}

header, section, footer {
  padding-inline: 1.2rem;
}

.wrapper {
  margin: 0 auto;
  background-color: var(--color-background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.1rem;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.71rem;
    font-weight: 800;
    font-size: 2.08rem;
    line-height: 3.33rem;
    color: var(--color-gray-900);
    text-decoration: none;
  }

  .nav-container {
    display: flex;
    align-items: center;
    gap: 4.8rem; 

    .nav-links {
      display: none;
  
      &-link {
        list-style: none;
    
        a {
          color: var(--color-gray-800);
          font-size: $font-size-medium;
          line-height: 160%;
          text-decoration: none;
        }
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    .inner-container {
      display: flex;
      align-items: center;
      gap: 1.186rem;
    }
  }
}

.section-hero {
  background: radial-gradient(circle at center 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
  height: 87.7vh;
  padding-block: 2.5rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .link-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .icon-appstore {
      height: 3.4rem;
      width: 12.5rem;
    }

    .icon-googleplay {
      height: 3.3rem;
      width: 14rem;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.239rem;
  }

  .image-container {
    display: none;
  }
}

.section-features {
  padding-top: 3.69rem;
  padding-bottom: 4.42rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logos {
    display: none;
  }

  .phone {
    display: none;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.24rem;
    
    &-lead {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2.369rem;
    }
    
    &-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.24rem;
      
      &-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.24rem;
      }

      &-item {
        display: flex;
        gap: 2.4rem;
        align-items: flex-start;
      
        &:first-child {
          align-self: stretch;
        }
        
        img {
          background: var(--color-gray-100);
          padding: 1.6rem;
          border-radius: 0.8rem;
        }

        &-text {
          display: flex;
          flex-direction: column;
          gap: 1.16rem;
        }
      }
    }
  }
}

.section-instructions {
  background-color: var(--color-gray-100);
  padding-top: 6.39rem;
  padding-bottom: 5.64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.2rem;

  .phone {
    position: relative;

    &-screen {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.76rem;
  }
}

.section-faq {
  padding-top: 4.305rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.25rem;

  .faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5925rem;
    
    .faq-lead {
      display: flex;
      flex-direction: column;
      gap: 1.893rem;
      text-align: center;
    }

    .faq {
      .questions {
        list-style: none;
        
        > :first-child {
          .question {
            border-radius: 0.8rem 0.8rem 0 0;
          }
        }
        
        > :last-child {
          .question {
            border-radius: 0 0 0.8rem 0.8rem;
          }
        }
        
        li {
          .question {
            border: 1px solid var(--color-gray-300);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            padding: 1.6rem 2.4rem;
          }
          
          .active {
            border-inline: 1px solid var(--color-gray-300);
            padding: 1.6rem 2.4rem 2.99rem 2.4rem;
          }
        }
      }
    }
  }

  .form-container {
    background-color: var(--color-gray-100);
    padding: 4.8rem 1.6rem 4.39rem 1.6rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.08rem;
    width: 100%;

    .form-heading {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }

    .form {
      display: flex;
      justify-content: center;
      
      .container {
        position: relative;

        img {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          padding-left: 1.686rem;
        }

        input {
          height: 100%;
          padding-left: 4.8rem;
          border-radius: 0.8rem 0 0 0.8rem;
          border: 1px solid var(--color-gray-400);
          width: 100%;
          font-size: $font-size-medium;

          &::placeholder {
            color: var(--color-gray-500);
          }
        }
      }
    }
  }
}

.footer {
  padding-top: 2.6rem;
  padding-bottom: 3rem;
  text-align: center;
}

.btn {
  cursor: pointer;
  border: none;

  &--toggle {
    width: 4.6rem;
    height: 2.3rem;
    background: var(--color-gray-600);
    appearance: none;
    border-radius: 2.3rem;
    position: relative;
    outline: none;
    transition: 0.5s;

    &::before {
      content: "";
      width: 2.3rem;
      height: 2.3rem;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--color-white);
      border-radius: 50%;
      transform: scale(0.75);
      transition: 0.5s;
    }

    &:checked {
      background: var(--color-primary);

      &::before {
        left: 2.25rem;
      }
    }
  }

  &--mobile-menu {
    background-color: transparent;
    width: 3rem;
    height: 3.6rem;
  }

  &--download {
    background-color: var(--color-gray-900);
    padding: 1rem;
    border-radius: 0.8rem;
  }

  &--discover-more {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    box-shadow: (0 4.4px 12px -1px rgba(#131022, 0.06), 0 2px 6.4px -1px rgba(#131022, 0.03));

    .down-arrow {
      width: 1.2rem;
      height: 0.8rem;
    }
  }

  &--faq {
    background-color: var(--color-gray-100);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
  }

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  
    &--small {
      border-radius: 0.4rem;
      padding: 0.9rem 2rem;
      font-size: $font-size-small;
      // font-weight: 600;
      line-height: 1.8rem;
      display: none;
    }
  
    &--medium {
      border-radius: 0.6rem;
      padding: 1.1rem 2.8rem;
      font-size: $font-size-small;
      // font-weight: 600;
      line-height: 2.24rem;
    }
  
    &--large {
      border-radius: 0 0.8rem 0.8rem 0;
      padding: 1.3rem 2rem;
      font-size: $font-size-medium;
      // font-weight: 600;
      line-height: 2.56rem;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-gray-900);
  font-weight: 800;
}

h1 {
  font-size: 3.41rem;
  line-height: 130%;
}

h2 {
  font-size: 2.79rem;
  line-height: 130%;
}

h3 {
  font-size: 2.47rem;
  line-height: 130%;
}

h4 {
  font-size: 2.16rem;
  line-height: 140%;
}

h5 {
  font-size: 2rem;
  line-height: 140%;
}

h6 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 130%;
}

.paragraph {
  color: var(--color-gray-700);
  font-weight: 400;
  line-height: 160%;

  &--header {
    color: var(--color-gray-700);
    font-weight: 600;
    display: none;
  }

  &--large {
    font-size: $font-size-large;
  }

  &--medium {
    font-size: $font-size-medium;
  }

  &--small {
    font-size: $font-size-small;
  }

  &--light-grey {
    color: var(--color-gray-600);
  }
}