.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.1rem;
  position: absolute;
  width: 100%;
  top: 0;

  @include media(tablet) {
    padding-block: 2.5rem; 
  }

  @include media(desktop) {
    padding-block: 1.6rem;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-weight: 800;
    font-size: 2.08rem;
    line-height: 160%;
    color: var(--color-heading);
    text-decoration: none;
  }

  .nav-container {
    display: flex;
    align-items: center;
    gap: 4.8rem; 
  }

  .nav-links {
    list-style: none;
    display: none;

    @include media(desktop) {
      display: flex;
    }
  }

  .nav-link {
    color: var(--color-nav-link);
    font-size: $font-size-medium;
    line-height: 160%;
    text-decoration: none;

    &:hover, &:focus-visible {
      color: var(--color-primary);
    }
  }


  .button-container {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    @include media(tablet) {
      gap: 7rem;
    }

    @include media(desktop) {
      gap: 3.2rem;
    }
  }
  
  .inner-container {
    display: flex;
    align-items: center;
    gap: 1.186rem;
  }
  
  p {
    display: none;

    @include media(tablet) {
      display: block;
    }
  }

  .btn-primary {
    display: none;

    @include media(desktop) {
      display: flex;
    }
  }

  .btn-mobile-menu {
    @include media(desktop) {
      display: none;
    }
  }
}